html{
scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 25px;
  background-color: #fff5ee;
}

/* .progress-bar {
  position: fixed;
  top: 0;
  height: 100%;
  background: rgba(51, 51, 51, 0.9);
  width: 8px;
  right: 0%;
  z-index: 1;
} */

.navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.5);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  font-size: 22px;
  float: none;
  display: inline-block;
  color: white;
  padding: 14px;
  text-decoration: none;
  vertical-align: top;
  padding-right: 5%;
  padding-left: 5%
}

.parallax {
  min-height: 100%;
  min-width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  display: grid;
  grid-template-columns: auto 275px 250px 275px auto;
  grid-template-rows: 100px 250px 50px 250px 400px;
  background-position: bottom;
}
.headertekst{
  grid-column: 2/5;
  grid-row: 4/5;
  color: rgba(255, 255, 255, 0.877);
  font-size: 50px;
  background-image: url(img/headertekst.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}


.headerimg {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(img/headerimg.jpg);
  background-size: 200%;
  background-position: center;

  border-radius: 125px;
  border-style: solid;
  border-width: 10px;
  border-color: #743030;
}

.kopje {
  display: grid;
  grid-template-columns: 10% 1fr  10%;
  grid-template-rows: 20px 500px 20px;
  background-color: #fff5ee;
}

.tekst1 {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

/* .img1 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: rgba(141, 66, 66, 0.5);
  border-radius: 10px;
} */
